.navbar p {
  font-weight: 400;
  padding: 5px;
  cursor: pointer;
}
.navbar p:hover {
  /* border: 1px solid red; */
  background-color: rgba(128, 128, 128, 0.064);
  color: red;
  /* border-radius: 30px; */
  /* box-shadow: 10in; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
}
.nav_item {
  display: block;
}

@media screen and (max-width: 600px) {
  .nav_item {
    display: none;
  }
}
