.hello {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  justify-content: space-around;
  margin-bottom: 10px;
}
.firstt {
  border: 1px solid #5c5c5f;
  margin: auto;

  margin-top: 50px;
  background-color: #00000008;
}
.end {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 15px;
}
.firstly {
  width: 50%;
  /* border: 1px solid red; */
}
.firstly1 {
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid blue; */
  width: 50%;
}
.firstly1 > input {
  width: 60%;
  height: 50px;
  outline-color: rgba(0, 0, 0, 0.694);
  border: 1px solid rgba(0, 0, 0, 0.694);
  margin-right: 10px;
}
.firstly1 > button {
  width: 20%;
  height: 50px;

  /* border: 1px solid blue; */
  background-color: #000000;
  color: white;
}
.firstly > button :hover {
  background-color: white;
  color: #000000;
}
.footer {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;

  padding: 20px;
  list-style: none;
  margin-top: 40px;
}

.Box > p {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  align-items: center;
  font: 18px "Times New Roman";
}
.Box > ul {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
  color: #26262c;
  align-items: center;
  font-weight: 400;
  font: 15px "Times New Roman";
}
.logos {
  width: 25px;
  margin-right: 10px;
}
.Sociallogo {
  width: 25px;
}
.Pinlogo {
  width: 100px;
  margin-left: -25px;
}
.SocialHandles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.banner {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.country {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
  color: #000000;
  font: 15px "Times New Roman";
}
/* .footerEnd {
  display: flex;
} */
.footerpart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
  font: 15px "Times New Roman";
  color: #167a92;
  padding: 10px;
}
.last {
  display: flex;
  justify-content: flex-end;

  padding: 10px;
  margin-top: 20px;
  font: 15px "Times New Roman";
  color: #222a95;
  margin-top: -35px;
}
