body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDFDF9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#jeans{
  font-weight: bold;
  font-family: sans-serif;
}
#jeans:hover{
  text-decoration: none;
}

#dropdown-content{
  display: none;
}

#dropdown-content Text{
  display: block;
}

#dropdown:hover #dropdown-content{
  display: block;
}

